*.pyc
Prob n Stats/Week 2/notebooks/optional_lab_2/data/rideshare_2022_raw_with_problematic_dates.csv
Prob n Stats/Week 2/notebooks/optional_lab_2/data/rideshare_2022_cleaned.csv
Prob n Stats/Week 2/notebooks/optional_lab_2/data/rideshare_2022.csv
Prob n Stats/Week 1/notebooks/optional_lab_4/data/rideshare_2022_raw_with_problematic_dates.csv
Prob n Stats/Week 1/notebooks/optional_lab_4/data/rideshare_2022_cleaned.csv
Prob n Stats/Week 1/notebooks/optional_lab_4/data/rideshare_2022.csv
Prob n Stats/Week 1/notebooks/optional_lab_3/data/rideshare_2022_raw_with_problematic_dates.csv
Prob n Stats/Week 1/notebooks/optional_lab_3/data/rideshare_2022_cleaned.csv
Prob n Stats/Week 1/notebooks/optional_lab_3/data/rideshare_2022.csv
Linear Algebra/Week 4/notebooks/assignment_lab/support_files/expected_cov_mat.npy
Prob n Stats/Week 3/notebooks/optional_lab_2/data/rideshare_2022.csv
Prob n Stats/Week 3/notebooks/optional_lab_2/data/rideshare_2022_raw_with_problematic_dates.csv
